@model  TodoList
<form asp-action="AddToDoItemList" method="POST">
    <div class="form-group mt-2">
        <label  asp-for="TodoItemListName">Add a new ItemList: </label>
        <input  asp-for="TodoItemListName" />
        <button type="submit" class="btn btn-primary ">Add</button>
    </div>
</form>