@model TodoListViewModel
@{
    ViewData["Title"] = "Index";
}


<h1 class="text-center mob-1">Todo Lists</h1>


@foreach (var itemList in Model.TodoItemLists)
{
    <div class="card col-12 ">
        <div class="card-body col-12">
            <h4 class="card-title ">@itemList.TodoItemListName</h4>


            @await Html.PartialAsync("RemoveItemListView", @itemList)

            <button type="button" class="btn btn-primary" asp-controller="Todo" asp-action="ItemList" asp-route-id="@itemList.Id" >View</button>


        </div>

    </div>

}
@await Html.PartialAsync("AddItemListView", new TodoItemList())
