@model TodoListViewModel
@{
    ViewData["Title"] = "Index";
}

<p class="h1 text-center col-12 mb-4">Todo Lists</p>


@foreach (var itemList in Model.TodoItemLists)
{
    <div class="card col-12 mb-1">
        <div class="card-body align-content-center col-  ">
            <h4 class="card-title col-6 float-left">@itemList.TodoItemListName</h4>
            <a asp-controller="Todo" asp-action="ItemList" asp-route-id="@itemList.Id"> <button class="btn btn-primary col-2 float-left">View</button></a>

            @await Html.PartialAsync("RemoveItemListView", @itemList)

        </div>
    </div>

}

@await Html.PartialAsync("AddItemListView", new TodoList())
