@model TodoList

<form asp-action="RemoveToDoItemList" method="POST">
    <input type="hidden" name="Id" asp-for="Id" value="@Model.Id" />
    <button type="submit" class="btn btn-default col-2 ml-3">Undo</button>

</form>